/* @import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon); */

body{
    margin: 0;
    padding: 0;
    font-family: Pokemon, Arial, Helvetica, sans-serif;
}

.header{
    text-align: center;
    font-size: 3em;
    color: red;
    margin: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.poke_card{
    border: 1px solid black;
    width: 280x;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 20px ;
}

.pokemon_image{
    background-color: #eee;
    border-radius: 50%; 
    margin-top: -10px;
}

.poke_name{
    background-color: #fff;
    padding: 5px;
    border-radius: 15px;
}

.pokemon_type{
    background-color: #eee;
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
}

.pokemon_stats{
    display: flex;
}

.hp, .atack, .defense{
    background-color: #fff;
    margin: 5px;
    padding: 5px;
    border-radius: 52px;
}

