@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

*{
    margin:0;
    padding: 0;
}

body{
    font-family: roboto, Arial, Helvetica, sans-serif;  
    background: linear-gradient(to right, #00416a, #e4e5e6);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 450px;
    height: 100vh;
    margin: 0 auto;
}

.wrapper{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #65b1e4;
    box-shadow: 2px -8px 37px 0px rgba(0,0,0,0.75);
    border-radius: 30px;
}

.wrapper::-webkit-scrollbar{
    display: none;
}

.wrapper header h1{
    font-size: 2.2em;
    margin-top: .5em;
}

.wrapper header h2{
    font-size: 1.2em;
    text-align: center;
}

form{
    display: flex;
}

.todo_input, .todo_button{
    border: none;
    margin-top: 10px;
}

.todo_input{
    font-size: 1.2em;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    width: 280px;
}

.todo_button{
    font-size: 30px;
    background-color: transparent;
    color: rgb(43, 43, 177);
}

.todo_list{
    list-style-type: none;
    width: 85%;
    overflow: scroll;
    padding: 10px;
}

.todo_list::-webkit-scrollbar {
    display: none;
}

.todo_item{
    background-color: white;
    border-radius: 10px;
    font-size: 2.2em;
    margin: 10px;
    overflow-y: hidden; 
}

.todo_item::-webkit-scrollbar {
    display: none;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    color: rgb(33, 30, 172);
}

.information p{
    font-weight: bold;
}

.completed{
    color: rgba(128, 128, 128, 0.432);
    text-decoration: line-through;
}