html{
    font-family: 'Gugi', cursive;
}

body{
    color: rgb(181, 186, 187);
    margin: 0;
    background-color: black;

}

.header{
    text-align: center;
    font-size: 48px;
   
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 25px;
    justify-content: center;
 
}

.grid div{
    border: 1px solid rgb(181, 186, 187);
    padding: 10px 15px;

}

.grid div h2{
    color: rgb(53, 55, 189);
    font-size: 30px;
}

