
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,600&display=swap');

body {
    margin: 0;
    font-family: poppins, Arial, Helvetica, sans-serif;
    color: crimson;
    background-image: url(./bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
}

.title_container{
    display: flex;
    justify-content: center;
}

.event_title{
    font-size: 4rem;
    margin-top: 10rem;
    margin-bottom: 2rem;
    padding: 1rem;
    letter-spacing: .8rem;
    background-color: white;
    border-radius: 50px;
}

.counter_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.time_box {
    margin: 10px;
    letter-spacing: .5rem;
    border: 5px solid crimson;
    border-radius: 50%;
    height: 15rem;
    width: 14rem;
    background-color: white;
}

.counter_number {
    text-align: center;
    margin-top: 2rem;
    font-size: 4rem;
    margin-bottom: 0;
}

.counter_text {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    font-weight: bold;
}