html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: rgb(181, 186, 187);
    margin: 0;
    background-color: black;

}

.about-main{
    display: flex;
    margin: 80px 400px 60px 400px;
    line-height: 50px;
    letter-spacing: 0.2px;
}

.about-title{
    color: white;
    font-size: 45px;
    line-height: 70px;
    margin: 20px 20px;
}

.about-description{
    font-size: 20px;
    margin: 20px 20px;
}

.about-intro{
    font-weight: normal;
    color: white;
}

.line{
    margin: auto 20px;
    color: #007bff;
    background-color: #007bff;
    height: 2px;
}



.tw{
    background: url(images/twitter.png) no-repeat center;
    background-size: 100%;
}

.social{
    display: flex;  
}

.social img{
    padding: 20px 20px;
}

