html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: white;
    margin: 0;
    background-color: black;

}

.about-main{
    display: flex;
    margin: 80px auto 60px;
    line-height: 50px;
    letter-spacing: 0.2px;
    max-width: 1400px;
}

.about-title{
    color: white;
    font-size: 45px;
    line-height: 70px;
    margin: 20px 20px;
}

.about-description{
    color: rgb(181, 186, 187);
    font-size: 20px;
    margin: 20px 20px;
}

.about-intro{
    color: white;
    font-size: 25px;
}

.social{
    display: flex;  
}

.social img{
    margin: auto auto;
    padding: 20px 20px;
}

