html{
    font-family: Arial, Helvetica, sans-serif
}

body{
    color: rgb(181, 186, 187);
    margin: 0 auto;
    background-image: url("images/bg-image.jpg");
}

/* NAVIGATION SET UP */

header{
    display: flex;
    justify-content: space-between;
}

.main-navigation{
    font-size: 32px;
}

.main-navigation, ul{
    list-style-type: none;
}

.main-navigation, li{
    display: inline-block;
    margin: auto 30px auto 50px;
    text-decoration: none;
    font-weight: bold;

}
a.underline{
    position: relative;
    text-decoration: none;
    color: rgb(181, 186, 187);
    letter-spacing: 0.5px;
    padding: 0 10px;
}
a.underline:after{
    content: "";
    position: absolute;
    background-color: #007bff;
    height: 15px;
    border-radius: 150px 150px 25px 25px;
    width: 0;
    left: 0;
    bottom: -12px;
}


a.underline:hover:after{
    width: 100%;
}

a.underline:visited{
    color: rgb(181, 186, 187);
}

a.underline:hover{
    color: white;
}

/* MAIN CONTENT SET UP */

.main-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin: 300px auto;
}

.welcome-title{
    margin: 10px;
    font-size: 75px;
    
}

.welcome-title:first-child{
    color: rgb(181, 186, 187);
    
}

.my-name{
    margin: 10px;
    font-size: 150px;
}




