*{
    background-image: url("images/bg-image.jpg");
    color: rgb(181, 186, 187);
    font-family: 'Gugi', cursive;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
}

header h3{
    font-size: 50px;
    text-transform: uppercase;
    margin: 30px auto 30px 30px;
}

nav{
    
    font-size: 32px;
    margin: auto 100px auto 50px;
}

nav ul{
    list-style-type: none;
    
}

nav li{
    display: inline-block;
    margin: 20px 10px;
    padding: 0 20px;
    text-decoration: none;

}
a{
    text-decoration: none;
}
a:hover{
    color: white;
}

.underline::after{

    content: "";
    display: block;
    width: 0;
    height: 10px;
    background:blue;
    transition: transform 0.3 ease;
}

.underline:hover::after{
    width: 100%;
    transition: transform 0.3 ease;
}


main{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 230px auto;
    padding: 0;

}

main h1{
    font-size: 100px;
    padding: auto 40px;
    color: white;
}

main h3{
    font-size: 50px;
    padding: 40px 20px;
}



